.show {
    font-size: 3em !important;
    margin: 150px auto 0;
    text-align: center !important;
    height: 500px;
    vertical-align: middle;
    display: table-cell;
    width: inherit;
}

#header-wrapper.backend {
    text-align: center;
    background: rgba(0, 0, 0, 0);
}

#header-wrapper.backend a.logo {
    margin-top: 50px;
}